.about {
    height: 90vh;
    position: absolute;
    width: 100%;
}

.about-content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
        height: 70%;
    }

    h1 {
        font-size: 50px;
        margin: 30px 0px;
    }

    p {
        font-size: 20px;
    }
}

.about {
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

